app/UrbanPalette/Assets/StreamingAssets
app/UrbanPalette/Assets/Scenes.meta
app/UrbanPalette/Assets/StreamingAssets.meta
app/UrbanPalette/Assets/Scenes/SampleScene.unity
app/UrbanPalette/Assets/Scenes/SampleScene.unity.meta
app/UrbanPalette/Library
app/UrbanPalette/Logs
app/UrbanPalette/UserSettings
app/UrbanPalette/ProjectSettings
app/UrbanPalette/Packages
app/UrbanPalette/Temp